.previewMovie {
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    transition: 400ms;
    z-index: 1000;
    overflow-y: auto;
}

.previewMovieModal {
    position: absolute;
    width: 90%;
    top: 32px;
    left: 50%;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 32px;
    max-width: 880px;
    transform: translateX(-50%);
}

.previewMovieHeader {
    position: relative;
}

.previewMovieGeneral {
    width: 89%;
    position: absolute;
    bottom: 11%;
    left: 48px;
}

.previewMovieBackdrop {
    position: relative;
    max-height: 510px;

    img {
        width: 100%;
    }

    .onLoad {
        width: 100%;
        height: 400px;
        position: relative;
    }

    > div {
        background: linear-gradient(to top,#181818,transparent 50%);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }
}

.previewMovieGeneral {
    display: flex;
    flex-direction: column;
}

.previewMovieGeneral button,
.previewMovieSound button {
    margin-left: 7px;
    outline: none;
    background-color: rgba(42,42,42,.6);
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border: 2px solid #fff;
        background-color: #252121;
    }
}

.previewMovieTitle {
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    font-size: 58px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.previewMovieOptions {
    display: flex;
    align-items: center;
}

.previewMovieWatch {
    display: inline-block;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    padding-left: 10px;
    margin-right: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    background-color: white;
    transition: all ease 0.2s;
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}

.previewMovieWhatchButton {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
        height: 22px;
        width: 22px;
    }

    span {
        margin-left: 8px;
        font-size: 14px;
    }
}

.previewMovieAddList {
    position: relative;
    padding: 2px 3px 1px 3px;

    svg {
        width: 22px;
        height: 22px;
        color: white;
    }
}

.previewMovieLike,
.previewMovieDislike {
    position: relative;
    padding: 4px 5px 4px 6px;
}

.previewMovieLike svg,
.previewMovieDislike svg {
    width: 17px;
    height: 17px;
    color: white;
}

.previewMovieAddList span,
.previewMovieLike span,
.previewMovieDislike span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    z-index: 10;
    opacity: 0;
    margin-bottom: 16px;
    padding: 7px;
    background: white;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    border-radius: 4px;
    white-space: nowrap;
    transform: translate(-50%, 16px);
    transition: all .3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0;
        height: 0;
        border: .5em solid transparent;
        border-top-color: white;
        transform: translate(-50%, 0);
    }
}

.previewMovieAddList:hover span,
.previewMovieLike:hover span,
.previewMovieDislike:hover span {
    opacity: 1;
    transform: translate(-50%, 0);
}

.previewMovieSound {
    width: auto;
    position: absolute;
    bottom: 11%;
    right: 48px;

    button {
        padding: 5px 5px 3px 6px;
    }

    svg {
        fill: white;
    }
}

.previewMovieClose {
    position: absolute;
    top: 0;
    right: 0;
    margin: 16px;
    cursor: pointer;

    button {
        padding: 6px 7px 5px 7px;
        border: 1px solid transparent;
        background-color: #252121;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
    }

    svg {
        width: 20px;
        height: 20px;
        color: white;
    }
}

.previewMovieBody {
    background-color: #181818;
    position: relative;
}

.previewMovieBodyContent {
    padding: 0 48px 32px 48px;
}

.previewMovieBodyDetails {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    column-gap: 32px;
    width: 100%;
}

.previewMovieBodyDetailsLeft {
    > div {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .tagsRelevance {
        font-weight: 700;
        color: #46d369;
        margin-right: 10px;
    }

    .tagsYear {
        letter-spacing: 1px;
        margin-right: 5px;
    }

    .tagsDuration {
        letter-spacing: 1px;
        margin-left: 5px;
    }

    > p {
        line-height: 27px;
        font-size: 18px;
        margin-bottom: 10px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box
    }
} 

.previewMovieBodyDetailsRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    margin-top: 22px;

    div {
        font-size: 14px;
        line-height: 20px;
        margin: 8px;
        margin-left: 0;
        word-break: break-word;

        span:first-child{
            color:#777;
        }
    }
}

.previewMovieTrack {
    > p {
        font-weight: 700;
        font-size: 24px;
        margin-top: 22px;
        margin-bottom: 20px;
    } 

    .previewMovieTrackMain span  {
        position: absolute;
        top: 5%;
        right: 5%;
        white-space: nowrap;
    }
} 

.previewMovieTrackContent {
    max-height: 100%;

    > div {
        display: grid;
        gap: 16px;
        align-items: stretch;
        justify-items: stretch;
        grid-template-columns: repeat(3, 1fr);
    }
}

.previewMovieTrackCard {
    margin: 1px;
    height: 100%;
    min-height: 240px;
    cursor: pointer;
    position: relative;

    &:hover {
        .previewMovieTrackPlayer {
            opacity: 1;
        }
    }
}

.previewMovieTrackMain {
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(198deg,rgba(0,0,0,.9) 0,rgba(24,24,24,.5) 20%,transparent 28%);
    }
}

.previewMovieTrackImage > img {
    width: 100%;
    display: block;
}

.previewMovieTrackPlayer {
    position: absolute;
    z-index: 10;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s ease-in-out;

    svg {
        width: 3em;
        height: 3em;
        border: 1px solid #fff;
        padding: .5em;
        -webkit-border-radius: 2em;
        -moz-border-radius: 2em;
        border-radius: 2em;
        background-color: rgba(30,30,20,.5);
    }
}

.previewMovieTrackDetails {
    background-color: #2f2f2f;
    border-radius: 0px 0px 5px 5px;
}

.previewMovieTrackHeader {
    padding: 20px 16px 18px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div > div {
        font-size: 17px;
        display: block; 
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 26px;
    }

    .tagsRelevance {
        font-weight: 700;
        color: #46d369;
        font-size: 17px;
    }
}

.previewMovieAddList {
    margin-left: 7px;
    outline: none;
    background-color: rgba(42,42,42,.6);
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 50%;
    cursor: pointer;

    &:hover {
        border: 2px solid #fff;
        background-color: #252121;
    }
}

.previewMovieTrackDetailsBody {
    padding: 0px 16px 20px 16px;
    margin: 0;
    color: #d2d2d2;
    font-size: 14px;
    line-height: 22px;
    min-height: 155px;

    p {
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
    }
}

@media (max-width: 920px) {
    .previewMovieBodyDetails {
        grid-template-columns: 1fr;
    }

    .previewMovieBodyDetailsRight {
        margin-top: 0;
    }
}

@media (max-width: 840px) {
    .previewMovieTitle {
        font-size: 50px;
    }

    .previewMovieBodyDetails {
        grid-template-columns: 1fr;
    }

    .previewMovieBodyDetailsRight {
        margin-top: 0;
    }

    .previewMovieTrackContent > div {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .previewMovieTitle {
        font-size: 40px;
    }

    .previewMovieGeneral {
        width: 70%;
    }

    .previewMovieBackdrop .onLoad {
        height: 300px;
    }

    .previewMovieTrackContent > div {
        grid-template-columns: 1fr;
    }

    .previewMovieTrackDetailsBody {
        min-height: 140px;
    }
}

@media (max-width: 450px) {
    .previewMovieGeneral {
        width: 90%;
        left: 20px;
    }

    .previewMovieSound {
        display: none;
    }

    .previewMovieBackdrop .onLoad {
        height: 215px;
    }

    .previewMovieBodyContent {
        padding: 0 25px 32px 25px;
    }
}