.movieRow {
    position: relative;
    margin-bottom: 30px;

    h2 {
        margin: 0px 0px 0px 35px;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .movieRowHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .movieRowTitle {
            display: flex;
            align-items: center;
            max-width: fit-content;
    
            .movieRowMore {
                display: flex;
                align-items: center;
                position: relative;
    
                span {
                    margin-left: 10px;
                    margin-top: 3px;
                    font-size: 12px;
                    font-weight: bold;
                    white-space: nowrap;
                    opacity: 0;
                    transition: all .2s ease;
                }
    
                svg {
                    position: absolute;
                    font-size: 25px;
                    cursor: pointer;
                    margin-top: 2px;
                    opacity: 0;
                    transition: all .2s ease;
                }
            }
    
            &:hover {
                .movieRowMore svg {
                    transform: translateX(55px);
    
                    ~ span {
                        opacity: 1;  
                        cursor: pointer;
                    }
                }
            }
        }

        .movieRowBullets {
            display: flex;
            align-items: center;
            margin-right: 35px;
            opacity: 0;
            transition: all .2s ease;

            ul {
                list-style-type: none;
                margin-top: 4px;

                li {
                    display: inline-block;
                    width: 14px;
                    height: 3px;
                    background-color: #4d4d4d;
                    margin-left: 1px;
                    cursor: pointer;

                    &:active {
                        background-color: #aaa;
                    }

                    &:hover {
                        background-color: #aaa;
                    }
                } 
            }
        }
    }

    &:hover {
        .movieRowHeader .movieRowMore svg {
            opacity: 1; 
        }

        .movieRowHeader .movieRowBullets {
            opacity: 1;
        }
    }
}

.movieRowListArea {
    overflow-x: hidden;
    padding: 9px 0px 5px 30px;
    padding-left: 30px;
}

.movieRowList {
    transition: all ease .5s;
}

.movieRowItem {
    display: inline-block;
    width: 200px;
    height: 300px;
    position: relative;
    cursor: pointer;

    img {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        transform: scale(0.95);
        transition: all ease 0.2s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

.movieRowItemError {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) scale(0.95);
    transition: all ease 0.2s;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            white-space: nowrap;
            font-size: 17px;
            margin-bottom: 5px;
            max-width: 74%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        svg {
            font-size: 50px;
        }
    }

    &:hover {
        transform: translateX(-50%) scale(1);
    }
}

.movieRowLeft,
.movieRowRight {
    position: absolute;
    top: 45px;
    width: 40px;
    height: 285px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}

.movieRowLeft {
    left: 0;
}

.movieRowRight {
    right: 0;
}

.movieRow:hover .movieRowLeft,
.movieRow:hover .movieRowRight {
    opacity: 1;
}

// Arrows and Bullets
@media (max-width: 760px) {
    .movieRowLeft,
    .movieRowRight {
        opacity: 1;
    }

    .movieRow .movieRowHeader .movieRowBullets {
        display: none;
    }
}

// Breakpoints Bullets
@media (min-width: 800px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(9) {
            display: none;
        }
    }
}

@media (min-width: 890px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(8) {
            display: none;
        }
    }
}

@media (min-width: 1000px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(7) {
            display: none;
        }
    }
}

@media (min-width: 1140px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(6) {
            display: none;
        }
    }
}

@media (min-width: 1330px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(5) {
            display: none;
        }
    }
}

@media (min-width: 1600px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(4) {
            display: none;
        }
    }
}

@media (min-width: 2000px) {
    .movieRow .movieRowHeader .movieRowBullets ul li {
        &:nth-child(3) {
            display: none;
        }
    }
}