.movieRow {
    position: relative;
    margin-bottom: 30px;
}

.movieRow h2 {
    margin: 0px 0px 0px 35px;
}

.movieRowListArea {
    overflow-x: hidden;
    padding: 5px 0px 5px 30px;
    padding-left: 30px;
}

.movieRowList {
    transition: all ease .5s;
}

.movieRowItem {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.movieRowItem img {
    width: 100%;
    transform: scale(0.95);
    transition: all ease 0.2s;
}

.movieRowItem img:hover {
    transform: scale(1.05);
}

.movieRowLeft,
.movieRowRight {
    position: absolute;
    top: 41px;
    width: 40px;
    height: 285px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease .5s;
}

.movieRowLeft {
    left: 0;
}

.movieRowRight {
    right: 0;
}

.movieRow:hover .movieRowLeft,
.movieRow:hover .movieRowRight {
    opacity: 1;
}

@media (max-width: 760px) {
    .movieRowLeft,
    .movieRowRight {
        opacity: 1;
    }
}