.header {
  display: flex;
  position: fixed;
  height: 4.375rem;
  align-items: center;
  background: transparent;
  justify-content: space-between;
  transition: all ease 0.5s;
  padding: 0 1.875rem;
  z-index: 999;
  right: 0;
  left: 0;
  top: 0;

  .headerMenu {
    display: flex;
    align-items: center;

    .headerLogo {
      line-height: 0;
      cursor: pointer;

      img {
        width: 100%;
        max-height: 1.5625rem;
      }
    }

    ul {
      display: flex;
      align-items: center;
      margin-left: 1.625rem;
      font-size: 0.9375rem;

      li {
        margin: 0 0.625rem;
        transition: all 0.2s ease;
        list-style: none;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      :first-child {
        display: none;
      }
    }
  }

  .headerContent {
    display: flex;
    align-items: center;

    .headerActions {
      display: flex;
      align-items: center;
      color: var(--white);

      svg {
        cursor: pointer;
        margin: 0 0.625rem;
        font-size: 1.25rem;
      }

      :first-child {
        margin-left: 0;
      }
    }

    .headerUser {
      height: 2.1875rem;
      margin-left: 0.625rem;
      cursor: pointer;

      img {
        height: 100%;
        border-radius: 5px;
      }
    }
  }
}

@media (max-width: 725px) {
  .header .headerMenu ul {
    margin-left: 1rem;

    li {
      display: none;
    }

    :first-child {
      display: flex;
      align-items: center;

      &:after {
        content: "";
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: var(--white) transparent transparent transparent;
        margin-left: 0.375rem;
        height: 0;
        width: 0;
      }
    }
  }
}

@media (max-width: 455px) {
  .header .headerContent .headerActions svg {
    margin: 0 0.5rem;
  }
}
