.season {
  margin-top: 1.375rem;

  select {
    outline: none;
    cursor: pointer;
    color: var(--white);
    border: 1px solid var(--gray-500);
    background-color: var(--gray-850);
    font-size: 0.9375rem;
    border-radius: 4px;
    padding: 0.5rem;
  }

  .seasonContentHead {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > p {
      font-weight: 700;
      font-size: 1.5rem;
    }
  }

  .seasonContentList {
    max-height: 100%;
    margin-top: 1.25rem;
  }
}
