.featured {
    height: 100vh;
}

.featuredVertical {
    width: inherit;
    height: inherit;
    background: linear-gradient(to top, #111 10%, transparent 90%);
}

.featuredHorizontal {
    width: inherit;
    height: inherit;
    background: linear-gradient(to right, #111 30%, transparent 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    padding-bottom: 150px;
}

.featuredName {
    font-size: 60px;
    font-weight: bold;
}

.featuredInfo {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
}

.featuredPoints,
.featuredYear,
.featuredSeasons {
    display: inline-block;
    margin-right: 15px;
}

.featuredPoints {
    color: #46d369;
}

.featuredDescription {
    margin-top: 15px;
    font-size: 20px;
    color: #999;
    max-width: 40%;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    display: -webkit-box;
}

.featuredButtons {
    margin-top: 15px;
}

.featuredButton {
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-left: 5px;
    }
}

.featuredWatchButton,
.featuredMyListButton {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;

    &:hover {
        opacity: 0.7;
    }
}

.featuredWatchButton {
    background-color: #fff;
    color: #000;
}

.featuredMyListButton {
    background-color: #333;
    color: #fff;
}

.featuredGenres {
    margin-top: 15px;
    font-size: 18px;
    color: #999;
}

@media (max-width: 760px) {
    .featured {
        height: 90vh;
    }

    .featuredName {
        font-size: 40px;
    }

    .featuredInfo {
        font-size: 16px;
    }

    .featuredDescription {
        font-size: 14px;
        max-width: 100%;
        margin-right: 30px;
    }

    .featuredWatchButton,
    .featuredMyListButton {
        font-size: 16px;
    }

    .featuredGenres {
        font-size: 14px;
    }
}

@media (max-height: 568px) {
    .featuredHorizontal {
        padding-top: 45px
    }
}